@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Chapbook";
  src: url('./assets/fonts/Chapbook/Chapbook-Regular.otf');
}

.main header {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  width: 90%;  
}
/* .headerUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
} */

.main,
.main input {
  font-size: 16px;  
  line-height: 24px;
  color: #ffffff;
  font-family: "Chapbook", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 60px; */
  /* background-color: #353740; */
  height: 80vh;
  padding-bottom: 20vh;
  width: auto;
  background-size: cover;
  background-position: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-image for smartphone e for other bigger screens, depends of the size of screen */
  
  background-image: url("./assets/images/all-gods-1920-1080.jpg");
}
.main .icon {
  width: 34px;
}
.main h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 10px 0 0 0 ;
}
.main h3 {
  margin: 0;
}
.main form {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
}
.main input[type="text"] {
  padding: 12px 16px;
  /* border: 1px solid #10a37f; */
  border-radius: 4px;
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.8);
  /* outline-color: #10a37f; */  
  width: inherit;
}
.main ::placeholder {
  color: #d1d1eb;
  opacity: 1;
}
.main input[type="submit"] {
  /* padding: 12px 0; */
  /* color: #fff; */
  /* background-color: #10a37f; */
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 0 10px;

}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.godsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}
.godsButton {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px; */
  /* margin: 10px; */
  /* border-radius: 50%; */
  border-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: "Chapbook", Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(100, 99, 99);
  cursor: pointer;
}
.godsButtonActive {
    color: #ffffff;
}

.chatContainer {
  margin: 10px 0;
  padding: 10px 10vw;  
  width: 80%;
  height: 47vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
  scroll-behavior: smooth;  
}
.chatMessage {
  display: flex;
  margin-bottom: 20px;
}
/* Set the width and color of the scrollbar track */
.chatContainer::-webkit-scrollbar {
  width: 10px;
}

.chatContainer::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Set the color and style of the scrollbar thumb */
.chatContainer::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid #000000;
}
/* .chatBubble {
  background-color: rgba(232, 240, 254, 0.7);
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 90%;
  box-shadow: 0 8px 15px rgb(0 163 243 / 20%);
} */
.chatMessageRight {
  justify-content: flex-end;
}

/* .chatBubble p {
  margin: 0;
} */

/* ============================ */
.chatBubble {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: inline-block;
  max-width: 80%;
  /* font-family: "Goudy Old Style", serif; */
  /* Use a serif font for a "holy" feel */
  overflow: hidden;
  box-shadow: 0 8px 15px rgb(0 163 243 / 20%);
}
.chatBubbleRight {
  box-shadow: 0 8px 15px rgba(243, 178, 0, 0.2);
}

/* .chatBubble::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #F8F8F8 transparent transparent;
}

.chatBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #F8F8F8 transparent transparent transparent;
} */

.chatBubble p {
  margin: 0;
}

.chatBubble h2 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* .chatBubble .timestamp {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.8rem;
  color: #999;
  font-style: italic;
} */

/* .chatBubble {
  background-color: #E8F0FE;
  box-shadow: 0 8px 15px rgba(0, 0, 255, 0.2);
}

.chatBubble::before {
  border-color: transparent #E8F0FE transparent transparent;
}

.chatBubble::after {
  border-color: #E8F0FE transparent transparent transparent;
}

.chatBubbleRight {
  background-color: #F7DAD9;
  box-shadow: 0 8px 15px rgba(255, 0, 0, 0.2);
}

.chatBubbleRight::before {
  border-color: transparent #F7DAD9 transparent transparent;
}

.chatBubbleRight::after {
  border-color: #F7DAD9 transparent transparent transparent;
} */